:root {
  --cell-size: 50px;
  --cell-color: #ffffff;
  --background-color: #444444;
  --cell-gap: 0.1rem;
  --box-gap: 0.25rem;
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  background-color: var(--cell-color);
}

.cell:hover {
  opacity: 0.9;
}

.cell-row {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  background-color: var(--background-color);
  gap: var(--cell-gap);
}

.box {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: var(--cell-gap);
  background-color: var(--background-color);
}

.box-row {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  background-color: var(--background-color);
  gap: var(--box-gap);
}

.grid {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 20vh auto;
  gap: var(--box-gap);
  background-color: var(--background-color);
  padding: var(--box-gap);;
}
